@import url("https://fonts.cdnfonts.com/css/bitstream-vera-sans");

body {
  color: rgb(218, 107, 107);
  background-color: rgb(254, 250, 245);
  text-align: center;
  font-family: "Bitstream Vera Sans", sans-serif, "Quiet Sans", "Aller",
    "Artico";
}

#screenSaver {
  width: 10px;
}
h1 {
  font-size: 1.5rem;
}
#game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: unset;


}
.row {
  display: flex;
  flex-direction: row;
}
.letter {
  border: 2px solid rgb(71, 66, 66);
  width: 0.7rem;
  height: 1.5rem;
  font-size: 2rem;
  color: rgb(20, 12, 12);
  border-radius: 2px;
  padding: 0.9rem;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}
#hint {
  height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-width: medium;
  margin: 1rem;
  text-align: center;
  width: auto;
  font-size: 1rem;
  font-weight: bolder;
  color: rgb(68, 68, 99);
  background-color: transparent;
}

#keyboard-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#enter {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.key-button {
  background-color: rgb(223, 211, 211);
  color: rgb(31, 31, 97);
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid;
  padding: 0.6rem;
  margin-bottom: 0.4rem;
}
#menu {
  margin-bottom: 1rem;
}
.menu-button {
  background-color: #ee7b45;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  margin: 4px 2px;
  border-radius: 300px;
}

button #score {
  border-radius: ;
}
.correct-position {
  background-color: green;
}
.wrong-position {
  background-color: rgb(255, 200, 0);
}
.incorrect {
  background-color: rgb(52, 50, 50);
}
.hidden {
  display: none;
}
